@font-face {
    font-family: 'NikoshBAN';
    src: url('NikoshBAN.eot');
    src: url('NikoshBAN.eot?#iefix') format('embedded-opentype'),
        url('NikoshBAN.woff2') format('woff2'),
        url('NikoshBAN.woff') format('woff'),
        url('NikoshBAN.ttf') format('truetype'),
        url('NikoshBAN.svg#NikoshBAN') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

